twitter_credentials:
  consumer_key: {{ default .Env.CONSUMER_KEY "" }}
  consumer_secret: {{ default .Env.CONSUMER_SECRET "" }}
  access_token: {{ default .Env.ACCESS_TOKEN "" }}
  access_token_secret: {{ default .Env.ACCESS_TOKEN_SECRET "" }}

listening_area:
  upper_right:
    longitude: {{ default .Env.UPPER_RIGHT_LONGITUDE "9.391045899999995" }}
    latitude: {{ default .Env.UPPER_RIGHT_LATITUDE "53.11264" }}
  lower_left:
    longitude: {{ default .Env.LOWER_LEFT_LONGITUDE "11.451602200000025" }}
    latitude: {{ default .Env.LOWER_LEFT_LATITUDE "53.8979416" }}


tweet_threshold: {{ default .Env.TWEET_THRESHOLD "20" }}
database_rest_url: http://{{ default .Env.REST_PORT_3000_TCP_ADDR "localhost" }}:{{ default .Env.REST_PORT_3000_TCP_PORT "80" }}
debugging: {{ default .Env.DEBUGGING "True" }}